<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink=""> <i class="fa-brands fa-slack fa-spin me-2 ms-3"></i><Span>Global
        Mart</Span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <div class="ms-auto navbar-nav">
        <div class="d-flex">
          <a class="nav-link" routerLink="/wishlist"><button class="btn btn-outline-light"><i
                class="fa-solid fa-heart fa-beat me-2"></i>Wishlist<span
                class="badge text-bg-light ms-2">{{wishListCount}} </span></button></a>

          <a class="nav-link" routerLink="/cart"><button class="btn btn-outline-light"><i
                class="fa-solid fa-cart-shopping fa-beat me-2"></i>Cart<span
                class="badge text-bg-light ms-2">{{cartCountItems}}</span></button></a>

          <a class="nav-link" routerLink="user/login" *ngIf="!loginUserName"><button class="btn btn-outline-light"><i
                class="fa-solid fa-user"></i></button></a>
          <a class="nav-link" routerLink="user/login" *ngIf="loginUserName" (click)="logout()"><button
              class="btn btn-outline-light"><i class="fa-solid fa-power-off"></i></button>
            <span class="ms-2 text-light fw-bold">{{loginUserName | uppercase}}</span></a>
        </div>
      </div>