<div class='d-flex flex-column align-items-center p-3 mt-5 bg-secondary text-light' style="width: 100%;height: 300px;">
    <div class='footer d-flex align-items-center justify-content-evenly'>
        <div  style="width: 400px;">
            <h5 class='textstyle'><i class="fa-brands fa-stack-overflow me-2"></i>Global Mart</h5>
            <p  style="text-align: justify;" class='textstyle'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolor unde sint, similique perspiciatis obcaecati beatae ducimus officiis harum. Animi nemo sapiente ipsam? In commodi eos debitis iste, adipisci porro!</p>
        </div>
        <div class='d-flex flex-column ms-3'>
            <h4 class='textstyle'>Links</h4>
            <a routerLink="/" style="text-decoration: none;" class="text-light">Home</a>
            <a routerLink="/cart" style="text-decoration: none;" class="text-light">Cart</a>
            <a routerLink="/wishlist" style="text-decoration: none;" class="text-light">Wishlist</a>
           </div>

        <div class='d-flex flex-column ms-3'>
            <h4>Guide</h4>
            <a href="https://angular.dev/" target="_blank">Angular</a>
            <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
            <a href="https://fontawesome.com/" target="_blank">Font-Awesome</a>
            </div>
        <div class='d-flex flex-column ms-3'>
            <h4 class='textstyle'>Contact Us</h4>
            <div class='d-flex'>
                <input type="text" class='form-control me-2' placeholder='Enter your email id' />
                <button class='btn btn-warning'>SUBSCRIBE</button>
            </div>
            
        </div>
    </div>
    <div class='d-flex justify-content-center textstyle mt-3'>
        <p>Jarina Devasia &copy; 2024</p>
    </div>
</div>